{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section>Секція 1</section>
    <section>Секція 2</section>
    <section>Секція 3</section>
    <section>Секція 4</section>
    <section>Секція 5</section>
    <section>Секція 6</section>

    <button id="buttonScroll">
        <img src="/svg/scroll_top.svg">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}