{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="nav">
        <button class="nav_button" id="back">
            <img src="/svg/nav_back.svg" width="24">
        </button>
        <button class="nav_button" id="forward">
            <img src="/svg/nav_forward.svg" width="24">
        </button>
        <button class="nav_button" id="reload">
            <img src="/svg/nav_reload.svg" width="24">
        </button>
        <button class="nav_button" id="home">
            <img src="/svg/nav_home.svg" width="24">
        </button>
        <input type="text" class="nav_input" id="input">
        <button class="nav_button" id="go">
            <img src="/svg/nav_go.svg" width="24">
        </button>
    </nav>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}